<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand fw-semibold" href="/">
            🏨 Hotel
        </a>

        <!-- Toggle (pentru mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Content -->
        <div class="collapse navbar-collapse" id="navbarMain">

            <!-- LEFT SIDE -->
            <ul class="navbar-nav me-auto ms-3">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms">Rooms</a>
                </li>
            </ul>

            <!-- RIGHT SIDE -->
            <div class="d-flex">
                <a class="btn btn-primary px-4" href="/login">
                    Login
                </a>
            </div>

        </div>
    </div>
</nav>